#mobile {
    display: flex;
    flex-direction: column;
}
body {
    width: 100%;
    margin: 0;
}
#mobile div.header1 {
border: 3px solid rgb(0, 128, 0);
background-color: rgb(50, 205, 50);
width: 100%;
height: 120px;
}
#mobile div.content {
width: 960px;
margin: auto;
}
#mobile #logo {
margin-top: 10px;
margin-bottom: 10px;
width: 100px;
height: 100px;
float: left;
border-radius: 50%;
}
#mobile header {
color: black;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-style: normal;
font-size: 60px;
}
#mobile h2 {
color: black;
font-family: 'Times New Roman', Times, serif;
}
#mobile #navigation a {
    color: rgb(0, 128, 0);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#mobile #navigation {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
#mobile div.list {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(152, 251, 152);
    padding: 20px;
}
#mobile div.list a {
    color: rgb(0, 100, 0);
}
#mobile div.forma {
    max-width: 960px;
    margin: auto;
    background-color: rgb(152, 251, 152);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mobile #table1 {
max-width: 960px;
margin: 0 auto;
padding: 20px;
}
#mobile table {
border: 3px solid rgb(72,72,72);
border-collapse: collapse;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
width: 80%;
}
#mobile th {
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
color: black;
}
#mobile td {
color: rgb(0, 128, 0);
}
#mobile tr {
height: 50px;
text-align: center;
}
#mobile td,tr,th {
border: 1px solid rgb(91, 91, 91);
}
#mobile tr:nth-child(odd) {
background-color: rgb(152, 251, 152);
}
#mobile tr:nth-child(even) {
background-color: rgb(50, 205, 50);
}
#mobile div.footer1 {
margin: 0 auto;
background-color: rgb(50, 205, 50);
}
#mobile footer {
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}
@media screen and (min-width: 800px) {
#mobile .content {
    margin:0 auto;
}
#mobile header1 {
    display: flex;
    order: 1;
}
#mobile div.content { 
    width: 960px;
    margin: auto;
}
#mobile navigation {
    display: flex;
    flex-direction: row;
    order: 2;
    width: 960px;
    margin: 0 auto;
}
#mobile div.list {
    display: flex;
    order: 3;
    width: 960px;
    margin: 0 auto;
}
#mobile div.forma {
    display: flex;
    order: 5;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}
#mobile #table1 {
    display: flex;
    order: 4;
    width: 960px;
    margin: 0 auto;
}
#mobile table {
    width: 80%;
    font-size: 20px;
}
#mobile footer {
    display: flex;
    order: 6;
    width: 100%;
    margin: 0 auto;
}
#mobile #footspan {
    margin: 0 auto;
}
}
